#idNavigationBar a.nav-link
{
    border: 1px solid;
    color: white;
}
#idNavigationBar a.nav-link.active
{
    background: white;
    color: #343a40;
}

img
{
    max-width: 100px;
    max-height: 100px;
}